{
    "default_region": "ap-southeast-1",
    "cognito": {
        "user_pool_id": "ap-southeast-1_xxx",
        "client_id": "xxxxxx"
    },
    "database": {
        "setting_table": "aibox-setting-xxx",
        "user_table": "aibox-user-xxx"
    },
    "bedrock": {
        "region": "us-west-2"
    },
    "gemini" : {
        "secret_id": "gemini-api-xxx"
    }
}
